<!DOCTYPE html>
<html>
  <head>
    <title>Link-in-bio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>
    <style>
/*      * {
        border: 1px red dashed
      }
*/
      a {
        color: rgba(0, 0, 0, 1.0);
        text-decoration: none;
      }
      html {
        min-height: 100%;
      }
      body {
        min-height: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        background: linear-gradient(180deg, #6e6a9e, #6d6a9e, #6d729f, #748ca1, #82a598, #a2ac95, #b1aba1, #b4aaa7, #b5aaaa, #b5aaaa);
      }
      .main-container {
        max-width: 640px;
        margin: auto;
      }
      .avatar-img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50px;
      }
      .social-icon-img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50px;
      }
      .link-img {
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
      .image-row {
        margin-bottom: 20px;
        text-align: center;
      }
      .name-row {
        margin-bottom: 30px;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 30px;
      }
      .social-icons-row {
        max-width: 400px;
        margin: auto;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-around;
      }
      .links-row {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        padding: 5px;
      }
      .subtitle {
        margin-bottom: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 18px;
      }
      .link-text {
        margin-left: 20px;
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
